<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="mb-0 mr-auto navbar-brand h5" [routerLink]="['/']">
        Sproutways <small class="h6 mb-0 font-weight-bold badge badge-warning">0.0.1</small>
    </div>

    <nav class="nav mt-2 mb-2">
        <a class="mr-2" href="#"><a class="btn btn-sm btn-outline-primary" [routerLink]="['/sign-in']">Sign In</a></a>
        <a class="" href="#"><a class="btn btn-sm btn-primary" [routerLink]="['/create-account']">Create Account</a></a>
    </nav>
</nav>
