<div class="auth-fluid">
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <div class="auth-brand text-center text-lg-left">
                    <a [routerLink]="['/']">
                        <span><img src="assets/images/logo.png" alt="" height="50"></span>
                    </a>
                </div>

                <h4 class="mt-0">Forgot Password</h4>
                <p class="text-muted mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>

                <div class="alert alert-danger mb-3" role="alert" *ngIf="isError">
                    Invalid email address.
                </div>

                <form [(sproutValidatorForm)]="form"
                      (ngSubmit)="submit()"
                      novalidate>
                    <div class="form-group">
                        <label for="{{ inputEmail.Name }}">{{ inputEmail.Label }}</label>
                        <input class="form-control" id="{{ inputEmail.Name }}" name="{{ inputEmail.Name }}" type="text"
                               [ngClass]="{ 'is-invalid' : ! inputEmail.IsValid && inputEmail.IsDirty && ! inputEmail.IsActive }"
                               [(ngModel)]="inputEmail.Value"
                               [(sproutValidatorField)]="inputEmail">
                        <div class="invalid-feedback">
                            {{ inputEmail.ErrorMessage }}
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" id="submit" name="submit" tabindex="3" type="submit" [disabled]="this.isLoading || ! this.form.IsValid">
                        Sign In
                    </button>
                </form>

                <footer class="footer footer-alt">
                    <p class="text-muted">Back to <a class="text-dark ml-1" [routerLink]="['/sign-in']"><b>Sign In</b></a></p>
                </footer>

            </div>
        </div>
    </div>
</div>
