<div class="row">
    <div class="col col-6" *ngIf="showEditor">
        <div class="clearfix" [(ngStyle)]="editorStyle">
            <img src="" #editorImage>
        </div>
    </div>
    <div class="col col-6" *ngIf="! showEditor">
        <img src="assets/images/default-image.png" style="width: 100%; height: 100%;" #defaultImage>
    </div>
    <div class="col col-6">
        <div id="drop-area" (click)="openUploader($event, inputSelector)">
            <input type="file" accept="image/png,image/jpeg" style="display: none"
                   #inputSelector
                   (change)="changeFile()">
        </div>
    </div>
    <div class="col col-12">

    </div>
</div>

<div class="btn btn-primary btn-block mt-3" (click)="triggerUpload()">Upload</div>
