<div id="drop-area" (click)="openUploader($event, inputSelector)">
    <span *ngIf="showName()">{{ sproutFile.name }}</span>

    <input type="file" accept="image/png,image/jpeg" style="display: none"
           #inputSelector
           (change)="changeFile()">
</div>


<div class="btn btn-primary btn-block mt-3" (click)="triggerUpload()">Upload</div>
