#drop-area {
  border: 3px dashed #ccc;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  padding: 20px; }

#drop-area.highlight {
  border-color: purple; }

p {
  margin-top: 0; }

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle; }
