<div class="container">
    <div class="row">
		<div class="col col-12">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item">Settings</li>
				<li class="breadcrumb-item active">Account</li>
			</ol>
        </div>
    </div>

    <div class="row">
		<div class="col col-12 col-md-8">
            <sprout-settings-account-username></sprout-settings-account-username>
            <sprout-settings-account-email></sprout-settings-account-email>
            <sprout-settings-account-password *ngIf="accountModel.AccountPasswordSet"></sprout-settings-account-password>
            <sprout-settings-account-password-set *ngIf="! accountModel.AccountPasswordSet"></sprout-settings-account-password-set>
        </div>

		<div class="col col-12 col-md-4">
            <sprout-settings-shared-sidebar></sprout-settings-shared-sidebar>
        </div>
    </div>
</div>