<div class="auth-fluid">
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <div class="auth-brand text-center text-lg-left">
                    <a [routerLink]="['/']">
                        <span><img src="assets/images/logo.png" alt="" height="50"></span>
                    </a>
                </div>

                <h4 class="mt-0">Create Account</h4>
                <p class="text-muted mb-4">Don't have an account? Create your account, it takes less than a minute</p>

                <div class="alert alert-danger mb-3" role="alert" *ngIf="isError">
                    Something went wrong, try again a bit later.
                </div>

                <form [(sproutValidatorForm)]="form"
                      (ngSubmit)="submit()"
                      novalidate>
                    <div class="form-group">
                        <label for="{{ inputUsername.Name }}">{{ inputUsername.Label }}</label>
                        <input class="form-control" id="{{ inputUsername.Name }}" name="{{ inputUsername.Name }}" type="text"
                               [ngClass]="{ 'is-invalid' : ! inputUsername.IsValid && inputUsername.IsDirty && ! inputUsername.IsActive }"
                               [(ngModel)]="inputUsername.Value"
                               [(sproutValidatorField)]="inputUsername">
                        <div class="invalid-feedback">
                            {{ inputUsername.ErrorMessage }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ inputEmail.Name }}">{{ inputEmail.Label }}</label>
                        <input class="form-control" id="{{ inputEmail.Name }}" name="{{ inputEmail.Name }}" type="text"
                               [ngClass]="{ 'is-invalid' : ! inputEmail.IsValid && inputEmail.IsDirty && ! inputEmail.IsActive }"
                               [(ngModel)]="inputEmail.Value"
                               [(sproutValidatorField)]="inputEmail">
                        <div class="invalid-feedback">
                            {{ inputEmail.ErrorMessage }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ inputPassword.Name }}">{{ inputPassword.Label }}</label>
                        <input class="form-control" id="{{ inputPassword.Name }}" name="{{ inputPassword.Name }}" type="password"
                               [ngClass]="{ 'is-invalid' : ! inputPassword.IsValid && inputPassword.IsDirty && ! inputPassword.IsActive }"
                               [(ngModel)]="inputPassword.Value"
                               [(sproutValidatorField)]="inputPassword">
                        <div class="invalid-feedback">
                            {{ inputPassword.ErrorMessage }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ inputPasswordConfirm.Name }}">{{ inputPasswordConfirm.Label }}</label>
                        <input class="form-control" id="{{ inputPasswordConfirm.Name }}" name="{{ inputPasswordConfirm.Name }}" type="password"
                               [ngClass]="{ 'is-invalid' : ! inputPasswordConfirm.IsValid && inputPasswordConfirm.IsDirty && ! inputPasswordConfirm.IsActive }"
                               [(ngModel)]="inputPasswordConfirm.Value"
                               [(sproutValidatorField)]="inputPasswordConfirm">
                        <div class="invalid-feedback">
                            {{ inputPasswordConfirm.ErrorMessage }}
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" id="submit" name="submit" type="submit" [disabled]="this.isLoading || ! this.form.IsValid">
                        Create Account
                    </button>

                    <div class="text-center mt-4">
                        <p class="text-muted font-16">Create your account with</p>
                        <ul class="social-list list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="social-list-item" (click)="connectFacebook()"><i class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="social-list-item" (click)="connectGoogle()"><i class="mdi mdi-google"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="social-list-item" (click)="connectLinkedIn()"><i class="mdi mdi-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>

                <footer class="footer footer-alt">
                    <p class="text-muted">Already have an account? <a class="text-dark ml-1" [routerLink]="['/sign-in']"><b>Sign In</b></a></p>
                </footer>

            </div>
        </div>
    </div>
</div>
