<div class="container">
    <div class="row">
        <div class="col col-12">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item">Settings</li>
				<li class="breadcrumb-item active">Profile</li>
			</ol>
        </div>
    </div>

    <div class="row">
        <div class="col col-12 col-md-8">
            <sprout-settings-profile-avatar></sprout-settings-profile-avatar>
            <sprout-settings-profile-headline></sprout-settings-profile-headline>
            <sprout-settings-profile-story></sprout-settings-profile-story>
        </div>

        <div class="col col-12 col-md-4">
            <sprout-settings-shared-sidebar></sprout-settings-shared-sidebar>
        </div>
    </div>
</div>