<div class="container">
	<div class="row">
		<div class="col col-12">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item">Settings</li>
				<li class="breadcrumb-item active">Preferences</li>
			</ol>
		</div>
	</div>

    <div class="row">
		<div class="col col-12 col-md-8 mb-3 mb-md-0">
            Preferences
        </div>

		<div class="col col-12 col-md-4">
            <sprout-settings-shared-sidebar></sprout-settings-shared-sidebar>
        </div>
    </div>
</div>