<nav class="d-flex flex-row align-items-center navbar-dark alert-heading p-3"
     *ngIf="message.Show"
     [ngClass]="{
        'bg-info'   : message.Type === 'info',
		'bg-success': message.Type === 'success',
		'bg-warning': message.Type === 'warning',
        'bg-danger' : message.Type === 'error'
	}">
    <div class="mr-auto">
        <span>{{ message.Body }}</span>
        <span [hidden]="! showEmailConfirmCheck"> If you havn't recieved your confirmation email, <a class="font-weight-bold" (click)="emailConfirmSend()">click here</a> to resend it.</span>
    </div>
    <div class="close pb-1" (click)="toggle()">
        <span>&times;</span>
    </div>
</nav>