<div class="container">
	<div class="row">
		<div class="col col-12">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item">Marketplace</li>
				<li class="breadcrumb-item">Orders</li>
				<li class="breadcrumb-item active">{{ order.Shop.Name + " (" + order.ID + ")" }}</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col col-12 col-md-8">
			<div class="list-group mb-3">
				<div class="list-group-item list-group-item-light">
					<div class="row">
						<div class="col-8">
							Order
						</div>
						<div class="col-2 text-right">
						</div>
						<div class="col-2 text-right">
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-6">
							Ordered From<br>
							{{ order.Shop.Name }}
						</div>
						<div class="col-6 text-right">
							Status<br>
							<span class="text-capitalize">{{ order.Status }}</span>
						</div>
					</div>
				</div>

				<div class="list-group-item list-group-item-light">
					<div class="row">
						<div class="col-8">
							Products
						</div>
						<div class="col-2 text-right">
							Quantity
						</div>
						<div class="col-2 text-right">
							Price
						</div>
					</div>
				</div>

				<div class="list-group-item" *ngFor="let product of order.Products">
					<div class="row">
						<div class="col-8">
							{{ product.Product.Name }}<br>
							{{ product.Product.ID }}
						</div>
						<div class="col-2 text-right">
							{{ product.Quanitity }}
						</div>
						<div class="col-2 text-right">
							${{ getPrice(product) }}
						</div>
					</div>
				</div>

				<div class="list-group-item list-group-item-light">
					<div class="row">
						<div class="col-8">
							Total
						</div>
						<div class="col-2 text-right">
						</div>
						<div class="col-2 text-right">
							${{ getPriceTotal() }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-12 col-md-4">
			<sprout-settings-shared-sidebar></sprout-settings-shared-sidebar>
		</div>
	</div>
</div>