<div class="list-group mb-3">
    <div class="list-group-item d-flex justify-content-between align-items-center"
         *ngIf="message.Show"
         [ngClass]="{
        'list-group-item-info'   : message.Type === 'info',
		'list-group-item-success': message.Type === 'success',
		'list-group-item-warning': message.Type === 'warning',
        'list-group-item-danger' : message.Type === 'error'
	}">
        <sprout-message-form [(sproutMessage)]="message"></sprout-message-form>
    </div>

    <div class="list-group-item d-flex justify-content-between align-items-center" [sproutFocus]="inputHeadline.Name">
        <div>
            Headline
        </div>
		<div class="btn btn-outline-dark btn-sm col-2" (click)="toggleActive(true)" *ngIf="! isActive">
			<fa-icon [icon]="['fas', 'pencil-alt']" size="sm"></fa-icon>
		</div>
		<div class="btn btn-outline-dark btn-sm col-2" (click)="toggleActive(false)" *ngIf="isActive">
			<fa-icon [icon]="['fas', 'times']" size="sm"></fa-icon>
		</div>
    </div>

    <div class="list-group-item d-flex justify-content-between align-items-center" *ngIf="isActive">
        <div class="container p-0">
            <form [(sproutValidatorForm)]="form"
                  (ngSubmit)="submit()"
                  novalidate>
                <div class="form-row">
                    <div class="col-12">
                        <label for="{{ inputHeadline.Name }}">{{ inputHeadline.Label }}</label>
                        <input class="form-control" id="{{ inputHeadline.Name }}" name="{{ inputHeadline.Name }}" type="text"
                               [ngClass]="{ 'is-invalid' : ! inputHeadline.IsValid && inputHeadline.IsDirty && ! inputHeadline.IsActive }"
                               [(ngModel)]="inputHeadline.Value"
                               [(sproutValidatorField)]="inputHeadline">
                        <div class="invalid-feedback">
                            {{ inputHeadline.ErrorMessage }}
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-primary btn-block btn-sm" id="submit" name="submit" type="submit" [disabled]="this.isLoading">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>