<div class="list-group mb-3" *ngIf="isConnected">
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <div>Facebook</div>

        <div class="btn-group" (click)="toggleDisconnect()" *ngIf="! confirmDisconnect">
            <div class="btn btn-outline-danger btn-sm">
                Disconnect
            </div>
            <div class="btn btn-danger btn-sm">
                <i class="fas fa-link"></i>
            </div>
        </div>

        <div *ngIf="confirmDisconnect">
            <div class="pt-1 mr-2 float-left">
                Are you sure you want to disconnect?
            </div>
            <div class="btn btn-success btn-sm float-left mr-2" (click)="disconnect()">
                Yes
            </div>
            <div class="btn btn-danger btn-sm float-left" (click)="toggleDisconnect()">
                No
            </div>
        </div>
    </div>
</div>

<div class="list-group mb-3" *ngIf="! isConnected">
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <div>Facebook</div>

        <div class="btn-group" (click)="connect()">
            <div class="btn btn-outline-secondary btn-sm">
                Connect
            </div>
            <div class="btn btn-secondary btn-sm">
				<fa-icon [icon]="['fas', 'link']" size="sm"></fa-icon>
            </div>
        </div>
    </div>
</div>