<div class="auth-fluid">
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <div class="auth-brand text-center text-lg-left">
                    <a [routerLink]="['/']">
                        <span><img src="assets/images/logo.png" alt="" height="50"></span>
                    </a>
                </div>

                <h4 class="mt-0">Sign In</h4>
                <p class="text-muted mb-4">Enter your email address and password to access your account.</p>

                <div class="alert alert-danger mb-3" role="alert" *ngIf="isError">
                    Invalid email or password, try again.
                </div>

                <form [(sproutValidatorForm)]="form"
                      (ngSubmit)="submit()"
                      novalidate>
                    <div class="form-group">
                        <label for="{{ inputEmail.Name }}">{{ inputEmail.Label }}</label>
                        <input class="form-control" id="{{ inputEmail.Name }}" name="{{ inputEmail.Name }}" tabindex="1" type="text"
                               [ngClass]="{ 'is-invalid' : ! inputEmail.IsValid && inputEmail.IsDirty && ! inputEmail.IsActive }"
                               [(ngModel)]="inputEmail.Value"
                               [(sproutValidatorField)]="inputEmail">
                        <div class="invalid-feedback">
                            {{ inputEmail.ErrorMessage }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-muted float-right"><a href="" [routerLink]="['/forgot-password']"><small>Forgot your password?</small></a></div>
                        <label for="{{ inputPassword.Name }}">{{ inputPassword.Label }}</label>
                        <input class="form-control" id="{{ inputPassword.Name }}" name="{{ inputPassword.Name }}" tabindex="2" type="password"
                               [ngClass]="{ 'is-invalid' : ! inputPassword.IsValid && inputPassword.IsDirty && ! inputPassword.IsActive }"
                               [(ngModel)]="inputPassword.Value"
                               [(sproutValidatorField)]="inputPassword">
                        <div class="invalid-feedback">
                            {{ inputPassword.ErrorMessage }}
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" id="submit" name="submit" tabindex="3" type="submit" [disabled]="this.isLoading || ! this.form.IsValid">
                        Sign In
                    </button>

                    <div class="text-center mt-4">
                        <p class="text-muted font-16">Sign in with</p>
                        <ul class="social-list list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="social-list-item" (click)="connectFacebook()"><i class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="social-list-item" (click)="connectGoogle()"><i class="mdi mdi-google"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="social-list-item" (click)="connectLinkedIn()"><i class="mdi mdi-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>

                <footer class="footer footer-alt">
                    <p class="text-muted">Don't have an account? <a class="text-dark ml-1" [routerLink]="['/create-account']"><b>Create Account</b></a></p>
                </footer>

            </div>
        </div>
    </div>
</div>
