<div class="list-group mb-3">
	<div class="list-group-item d-flex justify-content-between align-items-center"
		 *ngIf="message.Show"
		 [ngClass]="{
        'list-group-item-info'   : message.Type === 'info',
		'list-group-item-success': message.Type === 'success',
		'list-group-item-warning': message.Type === 'warning',
        'list-group-item-danger' : message.Type === 'error'
	}">
		<sprout-message-form [(sproutMessage)]="message"></sprout-message-form>
	</div>

	<div class="list-group-item d-flex justify-content-between align-items-center">
		<div>
			Avatar
		</div>

		<div class="btn btn-outline-dark btn-sm col-2" (click)="toggleActive(true)" *ngIf="! isActive">
			<fa-icon [icon]="['fas', 'pencil-alt']" size="sm"></fa-icon>
		</div>
		<div class="btn btn-outline-dark btn-sm col-2" (click)="toggleActive(false)" *ngIf="isActive">
			<fa-icon [icon]="['fas', 'times']" size="sm"></fa-icon>
		</div>
	</div>

	<div class="list-group-item d-flex justify-content-between align-items-center" *ngIf="! isActive">
		<div class="col col-3 pl-0" *ngIf="! imageStatus('set')">
			<img src="assets/images/default-image.png" style="width: 100%; height: 100%;" (click)="toggleActive(true)">
		</div>
		<div class="col col-3 pl-0" *ngIf="imageStatus('set')">
			<img src="{{ mediaURL }}images/{{ accountModel.AccountAvatarID }}_500_500.jpg" style="width: 100%; height: 100%;" (click)="toggleActive(true)">
		</div>
	</div>

	<div class="list-group-item d-flex justify-content-between align-items-center" *ngIf="isActive">
		<div class="container p-0">
			<sprout-shared-uploader
					[sproutFile]="file"
					[sproutFileCrop]="fileCrop"
					[sproutFileMultiple]="fileMultiple"
					[sproutFileRules]="fileRules"
					(sproutTriggerUpload)="upload($event)"></sprout-shared-uploader>
		</div>
	</div>
</div>