<div class="auth-fluid">
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <div class="auth-brand text-center text-lg-left">
                    <a [routerLink]="['/']">
                        <span><img src="assets/images/logo.png" alt="" height="50"></span>
                    </a>
                </div>

                <h4 class="mt-0">Change Password</h4>
                <p class="text-muted mb-4">Please update your password.</p>

                <div class="alert alert-danger mb-3" role="alert" *ngIf="isError">
                    Something went wrong, try again a bit later.
                </div>

                <form [(sproutValidatorForm)]="form"
                      (ngSubmit)="submit()"
                      novalidate>

                    <div class="form-group">
                        <label for="{{ inputPassword.Name }}">{{ inputPassword.Label }}</label>
                        <input class="form-control" id="{{ inputPassword.Name }}" name="{{ inputPassword.Name }}" type="password"
                               [ngClass]="{ 'is-invalid' : ! inputPassword.IsValid && inputPassword.IsDirty && ! inputPassword.IsActive }"
                               [(ngModel)]="inputPassword.Value"
                               [(sproutValidatorField)]="inputPassword">
                        <div class="invalid-feedback">
                            {{ inputPassword.ErrorMessage }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ inputPasswordConfirm.Name }}">{{ inputPasswordConfirm.Label }}</label>
                        <input class="form-control" id="{{ inputPasswordConfirm.Name }}" name="{{ inputPasswordConfirm.Name }}" type="password"
                               [ngClass]="{ 'is-invalid' : ! inputPasswordConfirm.IsValid && inputPasswordConfirm.IsDirty && ! inputPasswordConfirm.IsActive }"
                               [(ngModel)]="inputPasswordConfirm.Value"
                               [(sproutValidatorField)]="inputPasswordConfirm">
                        <div class="invalid-feedback">
                            {{ inputPasswordConfirm.ErrorMessage }}
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" id="submit" name="submit" tabindex="3" type="submit" [disabled]="this.isLoading || ! this.form.IsValid">
                        Change Password
                    </button>
                </form>

                <footer class="footer footer-alt">
                    <p class="text-muted">Back to <a class="text-dark ml-1" [routerLink]="['/sign-in']"><b>Sign In</b></a></p>
                </footer>

            </div>
        </div>
    </div>
</div>
