#drop-area {
	border: 1px dashed #ccc;
	width: 100%;
	font-family: sans-serif;
	padding: 20px;
}

#drop-area.highlight {
	border-color: purple;
}

p {
	margin-top: 0;
}

.my-form {
}

#gallery {
}

#gallery img {
	width: 150px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
}