<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col col-lg-12">
            <div class="alert" role="alert" [ngClass]="{
                'alert-info'   : message.Type === 'info',
                'alert-success': message.Type === 'success',
                'alert-warning': message.Type === 'warning',
                'alert-danger' : message.Type === 'error'
            }">
                {{ message.Body }}
            </div>
        </div>
    </div>
</div>