<div class="container">
    <div class="row">
		<div class="col col-12">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item">Marketplace</li>
				<li class="breadcrumb-item">Orders</li>
				<li class="breadcrumb-item active">Page {{ page }}</li>
			</ol>
        </div>
    </div>

    <div class="row">
		<div class="col col-12 col-md-8">
			<div class="list-group mb-3">
				<div class="list-group-item list-group-item-light">
					<div class="row">
						<div class="col-6">
							ID
						</div>
						<div class="col-2 text-right">
							Ordered From
						</div>
						<div class="col-2 text-right">
							Value
						</div>
						<div class="col-2 text-right">
							Value
						</div>
					</div>
				</div>

				<div class="list-group-item" *ngFor="let order of orders">
					<div class="row">
						<div class="col-6">
							<a [routerLink]="['/marketplace/order/' + order.ID]">{{ order.ID }}</a><br>
						</div>
						<div class="col-2 text-right">
							{{ order.Shop.Name }}
						</div>
						<div class="col-2 text-right text-capitalize">
							{{ order.Status }}
						</div>
						<div class="col-2 text-right">
							${{ getValue(order) }}
						</div>
					</div>
				</div>
			</div>
        </div>

		<div class="col col-12 col-md-4">
            <sprout-settings-shared-sidebar></sprout-settings-shared-sidebar>
        </div>
    </div>
</div>