<div class="container">
    <div class="row">
		<div class="col col-12">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item">Settings</li>
				<li class="breadcrumb-item active">Connect</li>
            </ol>
        </div>
    </div>

    <div class="row">
		<div class="col col-12 col-md-8">
            <sprout-settings-connect-facebook></sprout-settings-connect-facebook>
            <sprout-settings-connect-google></sprout-settings-connect-google>
            <sprout-settings-connect-linkedin></sprout-settings-connect-linkedin>
        </div>

		<div class="col col-12 col-md-4">
            <sprout-settings-shared-sidebar></sprout-settings-shared-sidebar>
        </div>
    </div>
</div>