<div class="list-group mb-3">
	<div class="list-group-item list-group-item-light">
		Marketplace
	</div>
	<a class="list-group-item list-group-item-action" [routerLink]="['/marketplace/orders/1']">
		Orders
	</a>
</div>

<div class="list-group">
	<div class="list-group-item list-group-item-light">
		Settings
	</div>
    <a class="list-group-item list-group-item-action" [routerLink]="['/settings/profile']">
        Profile
    </a>
    <a class="list-group-item list-group-item-action" [routerLink]="['/settings/account']">
        Account
    </a>
    <a class="list-group-item list-group-item-action" [routerLink]="['/settings/connect']">
        Connect
    </a>
    <a class="list-group-item list-group-item-action" [routerLink]="['/settings/preferences']">
        Preferences
    </a>
</div>
