<div class="list-group mb-3">
    <div class="list-group-item d-flex justify-content-between align-items-center"
         *ngIf="message.Show"
         [ngClass]="{
        'list-group-item-info'   : message.Type === 'info',
		'list-group-item-success': message.Type === 'success',
		'list-group-item-warning': message.Type === 'warning',
        'list-group-item-danger' : message.Type === 'error'
	}">
        <sprout-message-form [(sproutMessage)]="message"></sprout-message-form>
    </div>

    <div class="list-group-item d-flex justify-content-between align-items-center" [sproutFocus]="inputStory.Name">
        <div>
            Story
        </div>
		<div class="btn btn-outline-dark btn-sm col-2" (click)="toggleActive(true)" *ngIf="! isActive">
			<fa-icon [icon]="['fas', 'pencil-alt']" size="sm"></fa-icon>
		</div>
		<div class="btn btn-outline-dark btn-sm col-2" (click)="toggleActive(false)" *ngIf="isActive">
			<fa-icon [icon]="['fas', 'times']" size="sm"></fa-icon>
		</div>
    </div>

    <div class="list-group-item d-flex justify-content-between align-items-center" *ngIf="isActive">
        <div class="container p-0">
            <form [(sproutValidatorForm)]="form"
                  (ngSubmit)="submit()"
                  novalidate>
                <div class="form-row">
                    <div class="col-12">
                        <label for="{{ inputStory.Name }}">{{ inputStory.Label }}</label>
                        <textarea class="form-control" id="{{ inputStory.Name }}" name="{{ inputStory.Name }}" type="text"
                                  [ngClass]="{ 'is-invalid' : ! inputStory.IsValid && inputStory.IsDirty && ! inputStory.IsActive }"
                                  [(ngModel)]="inputStory.Value"
                                  [(sproutValidatorField)]="inputStory" [sproutAutoHeight]></textarea>
                        <div class="invalid-feedback">
                            {{ inputStory.ErrorMessage }}
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-primary btn-block btn-sm" id="submit" name="submit" type="submit" [disabled]="this.isLoading">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>